﻿@{
    ViewData["Title"] = "INICIO";
}

<div class="container text-center">
    <h1 class="display-4">Evaluacion P1 :)</h1>
    <p>Creado por: <strong>Stefan Jativa</strong></p>
    <p>Fecha: 29/10/2024</p>

    <img src="~/img/GATO.jpg" alt="Imagen Meme" />

    <p> </p>
    <button type="button" class="btn btn-info" onclick="bottonAlerta()">Info Alumno</button>
    
</div>
